/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* =====Colors===============================================================



/* Global Tags*/
body,html{
  font-family: 'Sansita', sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #eee;


}
a{
  font-weight: 700;
  color: #23a4cc;
  text-decoration: none;

}

p{
  font-size: 1em;
  line-height: 1.4;

}

h1,h2{
  font-weight: 700;

}

h1{
  font-size: 1.4em;
  line-height: 1.6;
}

h2{
  font-size: 1em;

}
img{

  height: auto;
}
section{
  height:600px;
}
#work,#contact{

    border-bottom: 1px solid #eee;

}


header{
  width: 100%;
  height: auto;
  background-image: url("../img/hero.png");
  border-bottom: 1px solid #ccc;

}

.title-name{
    width: 100%;

}
.title-name h1{
    text-align: center;
    font-size: 3em;

}
.navigate{
  width: 100%;


}

nav{


}
nav ul{
  list-style: none;
  padding: 0;

}
nav ul li{
  border: 1px solid #ccc;
  text-align: center;
  padding: 3% 0;
}
nav ul li:hover{
  background: rgba(0,0,0,0.7);
}
nav ul li a{
  font-size: 1.125em;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0f0f;

}

header h2{

  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  font-size: 3em;


}

.sub-title{
  text-align: center;

}


.about-title{
    padding: 0 0 2% 2%;

}

.work-skills{
    width:100%;
    clear: both;
    padding: 2% 2% 2% 2%;
}

.work-img{
    width: 100%;
}
.work-img img{
    max-width: 400px;
    padding: 2% 2% 1.5% 1.5%;
    display: block;
    margin: auto;
}

.work-text{
    width: 100%;
    padding: 2% 2% 1.5% 1.5%;
    text-align: center;
    float:left;
}
.contact-img{
    width: 96%;
    padding: 2% 2% 2% 2%;


}
.contact-img img{
    max-width: 300px;
    border: 2px solid #ffffff;
    display: block;
    margin: auto;


}
.contact-info{
    max-width: 96%;
    padding: 2% 2% 2% 2%;
    text-align: center;

}


/****About Section Style - Module 2*****/




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (min-width: 768px) {
    /* Tablet style here */




}

@media (min-width: 940px) {
    /* Desktop style here */
     #work, #contact{

    }
    #wrap{

    }
    /*****Grid*****/


      }


    /** Header - Module 1 **/
    header{




    }
    .background{
        max-width: 100%;
        height: 100%;
        z-index: -1000;
        top:0;
        left:0;
        width: 100%;
        height: 100%;

    }
    header h1{

    }
    nav{


    }
    nav ul li{


    }
    nav ul li a{

    }
    header h2{



    }
    header h2 span{

    }

    /****About Section Style - Module 2*****/
    #about{

    }
    #about .half-width{

    }
    #about h2{


    }
    #about p{

    }

    /***** Work Section Style - Module 3*****/
    #work{

    }
    #work .full-width{


    }
    #work img{




    }
    #work h3{

    }
    #work p{

    }

    /*** Contact-Module 4***/
    #contact{


    }
    #contact .full-width{

    }

    }
    #contact h2{

    }

    #contact a{


    }
    #envelopes{


    }



}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
